header{
    display: flex;
    justify-content: space-between;
    margin: 0px 0xp;
    box-shadow: 0px 9px 24px 0px rgb(0 0 0 / 20%);
    height: 47px;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    margin: 17px;

}

section{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 0 auto;
}

.header-div{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 10px;
}

.elipse-img{
    width: 20px;
    height: 20px;
}

.header-div h1{
    font-size: 20px;
    font-family: "inter";
}



.select-style{
    width: 513px;
    height: 692px;
    display: flex;
    /* gap: 54px; */
    flex-direction: column;
    align-items: center;
}

.select-changes{
    background-color: var(--color-purple);
    color: white;
    font-size: 23px;
    width: 491px;
    text-align: center;
    height: 41px;
    appearance: none;
    border: 0px !important;
}

@media(max-width:900px){
    header{
        display: flex;
        min-width: 300px;
        max-width: 900px;
        width: 103%;
        justify-content: space-between;
        margin: 0px 0xp;
        box-shadow: 0px 9px 24px 0px rgb(0 0 0 / 20%);
        height: 47px;
        align-items: center;
    }
    

    .image{
        display: none;
    }
    
    section{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .header-div{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 0px 10px;
    }
    
    .elipse-img{
        width: 20px;
        height: 20px;
    }
    
    .header-div h1{
        font-size: 20px;
        font-family: "inter";
    }
    
    
    
    .select-style{
        width: 355px;
        height: 373px;
        position: relative;
        left: 13px;
        display: flex;
        align-items: center;
        gap: 12px;
        /* background-color: var(--color-purple); */
    }
    
    .select-changes{
        background-color: var(--color-purple);
        color: white;
        background-image: url(../assets/img/Arrow\ 2.png) no-repeat center right #FFF;
        width: 373px;
        height: 34px;
        border: 0 !important;
        font-size: 23px;
        appearance: none;
    }
}