ul{
    list-style: none;
    width: 487px;
    height: 700px;
    overflow-x: scroll;
    flex-direction: column;
}


::-webkit-scrollbar{
    display: none;
    width: 0;
}



ul li{
    display: flex;
    flex-direction: column;
    /* width: 333px; */
    gap: 36px;
    height: 118px;
    margin: 8px 0px;
    border-bottom: 2px solid var(--color-purple);
}
ul li p{
    font-family: "inter";
    font-size: 20px;
    font-weight: 600;
}

.div-span{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.span-box{
    width: 121px;
    display: flex;
    height: 21px;
    border: 1px solid var(--color-purple);
    border-radius: 15px;
    align-items: center;
    color: var(--color-purple);
    font-family: "inter";
    justify-content: center;
}

@media(max-width:900px) {
    ul{
        display: flex;
        list-style: none;
        gap: 47px;
        margin: 0px 0px;
        min-width: 350px;
        width: 100%;
        /* height: 147px; */
        overflow-x: scroll;
        /* justify-content: center; */
        flex-direction: row;
    }
    
    ul li{
        display: flex;
        flex-direction: column;
        width: 152px;
        gap: 25px;
        height: 131px;
        border-bottom: 2px solid var(--color-purple);
    }
    
    .div-span{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .span-box{
        width: 100px;
        display: flex;
        height: 21px;
        border: 1px solid var(--color-purple);
        border-radius: 15px;
        align-items: center;
        color: var(--color-purple);
        font-family: "inter";
        justify-content: center;
    }
}